workflows/prisma-airs-claude-chat.json
{
  "name": "Prisma AIRS Protected Claude Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "prisma-airs-chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-message",
              "name": "userMessage",
              "value": "={{ $json.body.message || $json.message }}",
              "type": "string"
            },
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId || 'default' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.prismacloud.io/airs/v1/profiles/{{ $env.AIRS_API_PROFILE_NAME }}/analyze",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "prismaAirsApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-redlock-auth",
              "value": "={{ $env.AIRS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.userMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prisma-airs-scan",
      "name": "Prisma AIRS Security Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-safe",
              "leftValue": "={{ $json.isSafe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-safety",
      "name": "Check if Safe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {
          "maxTokens": 4096,
          "temperature": 0.7
        }
      },
      "id": "claude-chat",
      "name": "Claude Sonnet 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "blocked-response",
              "name": "response",
              "value": "⚠️ Security Alert: This message was blocked by Prisma AIRS security scanning.\n\nReason: {{ $json.reason || 'Policy violation detected' }}\n\nViolations detected:\n{{ $json.violations ? $json.violations.join('\\n- ') : 'See security policy for details' }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "safe",
              "name": "isSafe",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "blocked-response",
      "name": "Security Blocked Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "const airsResponse = $input.first().json;\nconst userMessage = items[0].json.userMessage;\n\n// Call Claude with the safe message\nconst claude = await $ai.chat.invoke([\n  {\n    role: 'user',\n    content: userMessage\n  }\n]);\n\nreturn {\n  json: {\n    response: claude.content,\n    status: 'success',\n    isSafe: true,\n    airsAnalysis: {\n      safe: airsResponse.isSafe,\n      score: airsResponse.score,\n      analysis: airsResponse.analysis\n    }\n  }\n};"
      },
      "id": "call-claude",
      "name": "Call Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Prisma AIRS Security Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prisma AIRS Security Scan": {
      "main": [
        [
          {
            "node": "Check if Safe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Safe": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Security Blocked Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Blocked Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Call Claude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T00:00:00.000Z",
  "versionId": "1"
}
