workflows/webhook-prisma-claude.json
{
  "name": "Prisma AIRS + Claude (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prisma-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 360],
      "webhookId": "prisma-chat-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://service.api.aisecurity.paloaltonetworks.com/v1/scan/sync/request",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-pan-token",
              "value": "={{ $env.AIRS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tr_id\": \"{{ $execution.id }}\",\n  \"ai_profile\": {\n    \"profile_name\": \"{{ $env.AIRS_API_PROFILE_NAME }}\"\n  },\n  \"metadata\": {\n    \"app_user\": \"webhook-user\",\n    \"ai_model\": \"claude-sonnet-4-5\",\n    \"application_name\": \"n8n-webhook-chat\"\n  },\n  \"contents\": [\n    {\n      \"prompt\": \"{{ $json.body.message }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "prisma-scan",
      "name": "Prisma AIRS Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-blocked",
              "leftValue": "={{ $json.action }}",
              "rightValue": "block",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-safe",
      "name": "Is Safe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Webhook').item.json.body.message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "claude-api",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 260],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"response\": {{ $json.content[0].text }},\n  \"scan_result\": \"passed\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"blocked\",\n  \"message\": \"Message blocked by Prisma AIRS security\",\n  \"action\": {{ $json.action }},\n  \"threat_info\": {{ $json.threat_info || {} }}\n}",
        "options": {}
      },
      "id": "respond-blocked",
      "name": "Respond Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 460]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prisma AIRS Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prisma AIRS Scan": {
      "main": [
        [
          {
            "node": "Is Safe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Safe?": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T00:00:00.000Z",
  "versionId": "1"
}
